<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{fragments/layout :: layout (~{::body},'login')}">
<head>
	<title>Login</title>
</head>
<body>
	<h1>Login (mit Lewensportal Anmeldeinformationen)</h1>
	<form th:action="@{/login}" method="post" class="form-horizontal">
		<br>
		<div class="col-sm-10">
			<label>Username:</label> <input type="text" name="username"/>
		</div>
		<br>
		<div class="col-sm-10">
			<label>Password:</label> <input type="password" name="password"/>
		</div>
		<div class="col-sm-10">
			<input type="checkbox" id="remember-me" name="remember-me" class="form-check"/>
			<label for="remember-me">erinnere dich an mich (ein Tag)</label> 
		</div>
		<div class="col-sm-10">
			<button type="submit">Login</button>
		</div>
		<div th:if="${param.error}" class="form-group has-feedback">Invalid username or password.</div>
		<div th:if="${param.logout}" class="form-group has-feedback">You have been logged out.</div>
	</form>
</body>
</html>