<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'user')}">
<head>
<meta charset="UTF-8">
<title>Person</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<h1>Edit User</h1>

	<form action="#" th:action="@{/users/update}" th:object="${userRolesChecked}" method="post">
	
		<input type="hidden" th:field="*{user.id}" />
		<input type="hidden" th:field="*{rolesChecked}" />

		<table>
			<tr><td><input th:replace="~{fragments/inputField :: input ('Username', 'user.username', 'text')}" required /></td></tr>
			<tr><td><input th:replace="~{fragments/inputField :: input ('Firstname', 'user.firstname', 'text')}" disabled /></td></tr>
			<tr><td><input th:replace="~{fragments/inputField :: input ('Lastname', 'user.lastname', 'text')}" disabled /></td></tr>
			<tr><td><input th:replace="~{fragments/inputField :: input ('BC Code', 'user.bcCode', 'text')}" disabled /></td></tr>
			<tr><td><input th:replace="~{fragments/inputField :: input ('Email', 'user.email', 'text')}" disabled /></td></tr>
			<tr>
				<td><label class="col-auto col-form-label control-label">Person <span class=sub></span></label></td>
				<td><input type="text" th:field="*{user.person.name}" class="form-control" placeholder="person" disabled></td>
			</tr>
		</table>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>No</th>
					<th>Role</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="roleChecked,stat : ${userRolesChecked.rolesChecked}"></td>
	    			<td th:text="${stat.count}"></td>
					<td>
						<input type="checkbox" th:checked="${roleChecked.active}" th:value="${roleChecked.id}" class="form-check-input">
						<label th:text="${roleChecked.role}"></label>
					</td>
				</tr>
			</tbody>
		</table>
		<p>
			<button type="submit" name="action" value="update" class="btn btn-primary">Update</button>
			&nbsp;&nbsp;
			<button type="submit" name="action" value="cancel" class="btn btn-info">Cancel</button>
		</p>
	</form>
</body>
</html>