<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'emailAcount')}">

<body>

	<h2>Email accounts</h2>

	<table id="access" class="table table-striped">
		<thead>
			<tr>
				<th style="width: 150px;">No</th>
				<th style="width: 150px;">Name</th>
				<th style="width: 150px;">Email</th>
				<th style="width: 150px;">Host</th>
				<th style="width: 60px;">Port</th>
				<th style="width: 120px">Username</th>
				<th style="width: 120px">Access</th>
				<th style="width: 120px">Outgoing protocol</th>
				<th style="width: 120px">smtp Auth</th>
				<th style="width: 120px">Acсount smtp Start tls enableess</th>
				<th style="width: 200px">Description</th>
			</tr>
		</thead>
		<a class="btn btn-primary" th:href="@{/email_accounts/new}">New</a>
		<tbody>
			<tr th:each="account,stat : ${accounts}">
				<td th:text="${stat.count}" />
				<td><a th:href="@{/email_accounts/__${account.id}__}"
					th:text="${account.name}" /></a></td>
				<td	th:text="${account.email}" />
				<td th:text="${account.host}" />
				<td th:text="${account.port}" />
				<td th:text="${account.username}" />
				<td th:text="${account.access}" />
				<td th:text="${account.outgoingProtocol}" />
				<td th:text="${account.smtpAuth}" />
				<td th:text="${account.smtpStarttlsEnable}" />
				<td th:text="${account.description}" />
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>
