<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'instruction')}">
<head>
<meta charset="UTF-8">
<title>Neu Anweisung &ndash;</title>
</head>
<body>
	<a data-th-href="@{/instructions/list}">&larr; Zur Liste</a>
	<h1>Neu Anweisung</h1>
	<div data-th-if="${errors}">
		<h2>Es wurden Fehler gemacht</h2>
		<ul>
			<li data-th-each="error: ${errors}" data-th-text="${error}"></li>
		</ul>
	</div>
	<form method="post" data-th-action="@{/instructions/create}">
		<label> Name:<br> <input type="text" name="name"
			data-th-value="${payload?.name}">
		</label><br> <label> Description:<br> <textarea
				name="description" data-th-text="${payload?.description}"></textarea>
		</label><br>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>No</th>
					<th>Anweisung</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="line,stat : ${payload.lines}"></td>

					<td th:text="${stat.count}"></td>
					<td><input type="checkbox" th:checked="${line}"	th:value="${stat}" class="form-input">
						<label th:text="${line.stringNummer}"></label></td>
					<td><input type="checkbox" th:checked="${line}"	th:value="${line.instruction}" class="form-input">
						<label th:text="${line.instruction}"></label></td>
					<td><input type="checkbox" th:checked="${line}"	th:value="${line.description}" class="form-input">
						<label th:text="${line.description}"></label></td>
				</tr>
			</tbody>
		</table>

		<button type="submit">Erstellen</button>
	</form>
</body>
</html>