<html>
<body>
  <form th:fragment="table(theadFields, tableData, columnNames)"
   		method="post" th:action="@{/instructions/newline}" 
  		class="table table-primary">
  	<div class="navbar-link">
		<button type="submit">neu</button>
  	</div>
  	<table class="table table-primary">
    <thead>
        <tr th:replace="${theadFields}">
        </tr>
    </thead>
    <tbody>
        <tr th:each="row, i: ${tableData}">
        	<td th:each="col: ${columnNames}"> 
 			<input type="text" 
 				th:id="${__'line_'+${col}+'_' + ${row.id}__}" 
 				th:value="${row['__${col}__']}" 
 				th:placeholder="${col}" 
 				class="form-control" /> 
        	
        	</td>
         </tr>
    </tbody>
    </table>
  </form>
</body>
</html>