<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'access')}">

<body>

<h2>
    <th:block th:if="${access['new']}">New Access</th:block>
    Update Access
</h2>
    <form action="#" th:action="@{/accesses/update}" th:object="${access}" class="form-horizontal" id="add-access-form" method="post">
    <div class="form-group has-feedback">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{createdDate}" />
        <input type="hidden" th:field="*{version}" />
        <input
                th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}" />
        <input
                th:replace="~{fragments/inputField :: input ('URL', 'url', 'text')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Domain', 'domain', 'text')}" />
        <input
                th:replace="~{fragments/inputField :: input ('User', 'user', 'text')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Password', 'password', 'password')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}" />
    </div>
    <p>
        <button th:with="text=${access['new']} ? 'Add Access' : 'Update Access'"
               	type="submit" name="action" th:text="${text}" value="update" class="btn btn-primary">Save
        </button>&nbsp;&nbsp;
        <button type="submit" name="action" value="cancel" class="btn btn-info">Cancel</button>
    </p>
</form>
</body>
</html>
