<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'persons')}">

<body>

<h2>Persons</h2>

<form method="post" action="#" th:action="@{/persons/list}"	th:object="${persons}">
	<input type="hidden" name="findField" th:field="${findField}"/>
	<div>
		<label> Name contents: <input type="text" name="findField" data-th-value="${findField}"></label>
		<button type="submit" name="action" value="clearFilter" class="btn btn-secondary">X</button>
		<button type="submit" name="action" value="update" class="btn btn-secondary">find</button>
	</div>
</form>

<table id="persons" class="table table-striped">
  <thead>
	  <tr>
	    <th>No</th>
	    <th>Name</th>
	    <th>bcCode</th>
	    <th scope="col">Action</th>
	  </tr>
  </thead>
  <tbody>
	  <tr th:each="person,stat : ${persons}">
	    <td th:text="(${currentPage}-1)*50 + ${stat.count}"></td>
	    <td>
	        <a th:href="@{/persons/edit/{id}(id=${person.id})}" th:text="${person.name}"/></a>
	    </td>
	    <td th:text="${person.bcCode}"></td>
	    <td><a sec:authorize="hasAnyAuthority('person.delete')" 
	    		th:href="@{/persons/delete/{id}(id=${person.id})}" class="btn btn-danger">Delete</a>&nbsp;&nbsp;
	        <a sec:authorize="hasAnyAuthority('person.update')"
	        	th:href="@{/persons/edit/{id}(id=${person.id})}" class="btn btn-info">Edit</a>&nbsp;
	       	<a sec:authorize="hasAnyAuthority('person.timeReport.run')"
	       		th:href="@{/timeReport/{bcCode}(bcCode=${person.bcCode})}" class="btn btn-info">Timereport</a>
	    </td>
	  </tr>
  </tbody>
</table>

<div th:if="${totalPages > 1}">
  <span>Pages:</span>
  <span>[</span>
  <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/persons/list?page=__${i}__'}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span>
    </span>
  <span>]&nbsp;</span>
  <span>
      <a th:if="${currentPage > 1}" th:href="@{'/persons/list?page=1'}" title="First"
         class="fa fa-fast-backward"></a>
      <span th:unless="${currentPage > 1}" title="First" class="fa fa-fast-backward"></span>
    </span>
  <span>
      <a th:if="${currentPage > 1}" th:href="@{'/persons/list?page=__${currentPage - 1}__'}" title="Previous"
         class="fa fa-step-backward"></a>
      <span th:unless="${currentPage > 1}" title="Previous" class="fa fa-step-backward"></span>
    </span>
  <span>
      <a th:if="${currentPage < totalPages}" th:href="@{'/persons/list?page=__${currentPage + 1}__'}" title="Next"
         class="fa fa-step-forward"></a>
      <span th:unless="${currentPage < totalPages}" title="Next" class="fa fa-step-forward"></span>
    </span>
  <span>
      <a th:if="${currentPage < totalPages}" th:href="@{'/persons/list?page=__${totalPages}__'}" title="Last"
         class="fa fa-fast-forward"></a>
      <span th:unless="${currentPage < totalPages}" title="Last" class="fa fa-fast-forward"></span>
    </span>
</div>

<a class="btn btn-primary" th:href="@{/persons/load}">Load from BC</a>   

</body>
</html>
