<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'persons')}">

<body>

<h2>Persons</h2>

<form method="post" action="#" th:action="@{/persons/list}"	th:object="${persons}">
	<div>
		<label> Name contents: <input type="text" name="findField" data-th-value="${findField}"></label>
		<input type="checkbox" name="findFieldActive" th:checked="${findFieldActive}"/>
		<label> nur aktuell</label>
		<button type="submit" name="action" value="clearFilter" class="btn btn-secondary">X</button>
		<button type="submit" name="action" value="update" class="btn btn-secondary">find</button>
	</div>
</form>

<table id="persons" class="table table-striped">
  <thead>
	  <tr>
	    <th>No</th>
	    <th>Name</th>
	    <th>bcCode</th>
	    <th>Anwesenheit</th>
	    <th>Ankunftszeit</th>
	    <th>Hiring</th>
	    <th>Firing</th>
	    <th>ID Card</th>
	    <th scope="col">Action</th>
	  </tr>
  </thead>
  <tbody>
	  <tr th:each="personGlock,stat : ${persons}">
	    <td th:text="(${currentPage}-1)*50 + ${stat.count}"></td>
	    <td>
	        <a th:href="@{/persons/edit/{id}(id=${personGlock.person.id})}" th:text="${personGlock.person.name}"/></a>
	    </td>
	    <td th:text="${personGlock.person.bcCode}"></td>
	    <td th:text="${personGlock.inPresence} ? 'V' : ''"></td>
	    <td th:text="${personGlock.arrivalTime}"></td>
	    <td th:text="${personGlock.person.hiringDateStr}"></td>
	    <td th:text="${personGlock.person.firingDateStr}"></td>
	    <td th:text="${personGlock.person.idCard}"></td>
	    <td><a th:if=false sec:authorize="hasAnyAuthority('person.delete')" 
	    		th:href="@{/persons/delete/{id}(id=${personGlock.person.id})}" class="btn btn-danger">Delete</a>&nbsp;&nbsp;
	        <a sec:authorize="hasAnyAuthority('person.update')"
	        	th:href="@{/persons/edit/{id}(id=${personGlock.person.id})}" class="btn">Edit</a>&nbsp;
	       	<a sec:authorize="hasAnyAuthority('person.timeReport.run')"
	       		th:href="@{/timeReport/{bcCode}(bcCode=${personGlock.person.bcCode})}">
	       		<img src='/resources/images/uhr_20_20.png' placeholder="Zeitbericht"/>
	       	</a>
	       	<d th:if="${userHasEmail} and ${personGlock.inPresence}!=true"> 
		       	<a th:href="@{/persons/set_glock/{id}/{page}(id=${personGlock.person.id},page=${currentPage})}">
		       		<img th:src="${personGlock.glock} ? '/resources/images/glock_orange.png' : '/resources/images/glock_white.png'"/>
	       	</d>
	       	</a>
	    </td>
	  </tr>
  </tbody>
</table>
  
<div th:replace="fragments/pagination :: pagination ('persons')"></div>

<a class="btn btn-secondary" th:href="@{/persons/load}">Load from BC</a>   

</body>
</html>
