<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'persons')}">

<body>

<h2>Persons</h2>

<form method="post" action="#" th:action="@{/persons/list}"	th:object="${persons}">
	<input type="hidden" name="findField" th:field="${findField}"/>
	<div>
		<label> Name contents: <input type="text" name="findField" data-th-value="${findField}"></label>
		<button type="submit" name="action" value="clearFilter" class="btn btn-secondary">X</button>
		<button type="submit" name="action" value="update" class="btn btn-secondary">find</button>
	</div>
</form>

<table id="persons" class="table table-striped">
  <thead>
	  <tr>
	    <th>No</th>
	    <th>Name</th>
	    <th>bcCode</th>
	    <th scope="col">Action</th>
	  </tr>
  </thead>
  <tbody>
	  <tr th:each="person,stat : ${persons}">
	    <td th:text="(${currentPage}-1)*50 + ${stat.count}"></td>
	    <td>
	        <a th:href="@{/persons/edit/{id}(id=${person.id})}" th:text="${person.name}"/></a>
	    </td>
	    <td th:text="${person.bcCode}"></td>
	    <td><a sec:authorize="hasAnyAuthority('person.delete')" 
	    		th:href="@{/persons/delete/{id}(id=${person.id})}" class="btn btn-danger">Delete</a>&nbsp;&nbsp;
	        <a sec:authorize="hasAnyAuthority('person.update')"
	        	th:href="@{/persons/edit/{id}(id=${person.id})}" class="btn btn-info">Edit</a>&nbsp;
	       	<a sec:authorize="hasAnyAuthority('person.timeReport.run')"
	       		th:href="@{/timeReport/{bcCode}(bcCode=${person.bcCode})}" class="btn btn-info">Timereport</a>
	    </td>
	  </tr>
  </tbody>
</table>
  
<div th:replace="fragments/pagination :: pagination ('persons')"></div>

<a class="btn btn-secondary" th:href="@{/persons/load}">Load from BC</a>   
<a class="btn btn-secondary" th:href="@{/persons/loadBCZeitnachweis}">Load BC Report Zeitnachweis mitarbeiter</a>   

</body>
</html>
