<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Live Streaming</title>
    <script language="javascript" type="text/javascript" src="../swfobject.js"></script>
  <style>
   table {
    width: 100%; 
    background: #343a40;
    color: #fff; 
   }
   td {
    padding: 5px;
    vertical-align: top; 
   }
   .col1 { background: #ccc; }
   .col2 { background: #ffd; }
  </style>

</head>

<body style="background-color: #343a40;">  

<table>
<tr>
	<td width="20%;" heigth="auto" vertical-align="top">
  	<h3 vertical-align="top">Guten Tag Herr Ivanov!<br>
  		Um 14:00 Uhr erwarten wir Sie im Besprechungsraum 2<br>
  	</h3>
	</td>
	<td width = "80%;" heigth="auto">
	<video id="player" width="100%" right= "0" height="auto" autoplay="autoplay" controls>
		<source src="\\lss-dc-2019\AUSTAUSCH\IT\TV-Test\Industriemechaniker.mp4" 
		type="video/mp4" 
		codecs="avc1.42E01E, mp4a.40.2">
	</video>
	</td>	
</tr>
</table>


</body>
</html>